# 依赖
node_modules/
/.pnp
.pnp.js

# 测试
/coverage

# Next.js
/.next/
/out/

# 生产
/build

# 环境变量
.env*.local

# 调试
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/

# 操作系统
.DS_Store
*.pem

# 临时文件
*.log
*.tmp
